.App {
  text-align: center;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square:focus {
  outline: none;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  
}

.reset{
  height:100;
  width: 100;
}

.timer {
  background-color: aquamarine;
  height:10rem;
  width:10rem;
  border-radius:5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}